{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<section id="content">
        <article>
                
                
                	{% if article.image %}
                	<div class="entry-content">
                		<a class="articleTitle sansFont" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
	                	<div class="articleImage">
	                		<img src="{{ SITEURL }}/static/images/{{ article.image }}" />
	                		
	                	</div>
	                {% else %}
		                <header>
		                        <h1>
		                                <a href="{{ pagename }}"
		                                        rel="bookmark"
		                                        title="Permalink to {{ article.title }}">
		                                        {{ article.title}}
		                                </a>
		                                {% include 'twitter.html' %}
		                        </h1>
		                </header>
						<div class="entry-content">
	                {% endif %}
                <div class="introInfo">
                        {% include 'article_infos.html' %}
                </div>
                {{ article.content }}
                
                </div><!-- /.entry-content -->
                <div class="articleFooter well">
	                <span class="label">Category</span>
					<a href="{{ SITEURL }}/{{ article.category.url }}"><i class="icon-folder-open"></i>{{ article.category }}</a>.
					{% include 'taglist.html' %}
					{% include 'translations.html' %}	
					<div class="fb-like" data-href="http://blog.folissimo.com/{{ article.url }}" data-send="false" data-layout="button_count" data-width="200" data-show-faces="true" data-font="tahoma"></div>
                </div>
                
                {% if DISQUS_SITENAME %}
                <div class="comments">
                <h2>Comments !</h2>
                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                           var disqus_identifier = "{{ article.url }}";
                           (function() {
                                var dsq = document.createElement('script');
                                dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] ||
                                 document.getElementsByTagName('body')[0]).appendChild(dsq);
                          })();
                        </script>
                </div>
                {% endif %}
        </article>
</section>
{% endblock %}
