<h4 class="sideTitle"><a  href="{{ SITEURL }}/index.html">Folissimo Blog</a></h4>
<ul class="nav nav-list">

<li><em>
	<a href="http://www.folissimo.com/" target="_blank">Folissimo</a>
	 is the most elegant way to create and manage your visual
	website</em>
	<p>
		<a href="http://www.folissimo.com/#signup" target="_blank" class="tryItNow">Try it
			here free for 40 days</a>
	</p>
	<a href="https://twitter.com/folissimo" class="twitter-follow-button" data-show-count="false">Follow @folissimo</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</li>
{% if LINKS %}
<li class="nav-header"><h4>links</h4></li>
{% for name, link in LINKS %}
    <li><a href="{{ link }}">{{ name }}</a></li>
{% endfor %}
{% endif %}
{% if SOCIAL %}
<li class="nav-header"><h4> social</h4></li>
<li><a href="{{ SITEURL }}/{{ FEED }}" rel="alternate">atom feed</a></li>
{% if FEED_RSS %}
<li><a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate">rss feed</a></li>
{% endif %}
{% for name, link in SOCIAL %}
    <li><a href="{{ link }}">{{ name }}</a></li>
{% endfor %}
{% endif %}

<li class="nav-header"><h4>Categories</h4></li>
{% for cat, null in categories %}
<li>
<a href="{{ SITEURL }}/{{ cat.url }}">
    {{ cat }}
</a>
</li>
{% endfor %}

<li class="nav-header"><h4>Tags</h4></li>
{% for tag in tag_cloud %}
<li class="tag-{{ tag.1 }}">
    <a href="{{ SITEURL }}/{{ tag.0.url }}">
        {{ tag.0 }}
    </a>
</li>
{% endfor %}

{% include 'twitter_profile.html' %}
{% include 'search_sidebar.html' %}

{% if SIDEBAR_CUSTOM %}
    {{ SIDEBAR_CUSTOM }}
{% endif %}
</ul>
